In [1]:
sc

In [2]:
from os import getcwd
from os.path import join
from time import time
from pyspark.sql import SparkSession
from pyspark.sql.types import *

In [3]:
conn_str = "jdbc:mysql://localhost/test_tpcds"

In [4]:
spark = SparkSession.builder.master("local[1]").appName("JAS").enableHiveSupport().getOrCreate()

In [5]:
tables = ["call_center", "catalog_page", "catalog_returns", "catalog_sales", "customer", "customer_address", "customer_demographics", "date_dim", "dbgen_version", "household_demographics", "income_band", "inventory", "item", "promotion", "reason", "ship_mode", "store", "store_returns", "store_sales", "time_dim", "warehouse", "web_page", "web_returns", "web_sales", "web_site"]

In [6]:
len(tables)

25

spark 

1. StructType
2. `age INT`




jdbc connection

load schema -> sql dbms (mysql) -> spark sql

In [7]:
schema_dict = {}

for index, table in enumerate(tables):
    print("For table: {}\n".format( table ))
    table_df = spark.read.format("jdbc").option("driver", "com.mysql.jdbc.Driver").option("url", conn_str).option("dbtable", table).option("user", "root").load()
    schema_dict[table] = table_df.schema
    
#     if index == 1:
#         break
    

# customSchema = StructType(
#     [
#         StructField("r_reason_sk", IntegerType(), True),
#         StructField("r_reason_id", StringType(), True),
#         StructField("r_reason_desc", StringType(), True),
#     ]
# )

# productDF = spark.read.load( join(getcwd(), "data", "call_center.csv"),
#     format="csv",
#     header="true",
#     schema=customSchema,
# )

For table: call_center

Loading class `com.mysql.jdbc.Driver'. This is deprecated. The new driver class is `com.mysql.cj.jdbc.Driver'. The driver is automatically registered via the SPI and manual loading of the driver class is generally unnecessary.

For table: catalog_page

For table: catalog_returns

For table: catalog_sales

For table: customer

For table: customer_address

For table: customer_demographics

For table: date_dim

For table: dbgen_version

For table: household_demographics

For table: income_band

For table: inventory

For table: item

For table: promotion

For table: reason

For table: ship_mode

For table: store

For table: store_returns

For table: store_sales

For table: time_dim

For table: warehouse

For table: web_page

For table: web_returns

For table: web_sales

For table: web_site

In [ ]:
for key, value in schema_dict.items():
    print("{}: {}\n".format(key, value))

In [8]:
df_dict = {}

for key, value in schema_dict.items():
    df = spark.read.load( join(getcwd(), "data_correct", "{}.csv".format( key )),
        format="csv",
        delimiter="|",
        header="true",
        schema=value)
    df_dict[key] = df
    print("For Table: {}".format(key))
    # df.show()

For Table: call_center
For Table: catalog_page
For Table: catalog_returns
For Table: catalog_sales
For Table: customer
For Table: customer_address
For Table: customer_demographics
For Table: date_dim
For Table: dbgen_version
For Table: household_demographics
For Table: income_band
For Table: inventory
For Table: item
For Table: promotion
For Table: reason
For Table: ship_mode
For Table: store
For Table: store_returns
For Table: store_sales
For Table: time_dim
For Table: warehouse
For Table: web_page
For Table: web_returns
For Table: web_sales
For Table: web_site

In [9]:
getcwd()

'/Users/mohammadzainabbas/Masters/ULB/Data Warehouse/tpcds-kit'

In [15]:
df_dict['call_center'].createOrReplaceTempView("call_center")

In [17]:
spark.sql("select * from call_center").show()

+-----------------+-----------------+-----------------+---------------+-----------------+---------------+-------------+--------+------------+--------+--------+--------------+---------+--------------------+--------------------+-----------------+-----------+----------------+----------+---------------+----------------+--------------+--------------+---------------+-------+-----------------+--------+------+-------------+-------------+-----------------+
|cc_call_center_sk|cc_call_center_id|cc_rec_start_date|cc_rec_end_date|cc_closed_date_sk|cc_open_date_sk|      cc_name|cc_class|cc_employees|cc_sq_ft|cc_hours|    cc_manager|cc_mkt_id|        cc_mkt_class|         cc_mkt_desc|cc_market_manager|cc_division|cc_division_name|cc_company|cc_company_name|cc_street_number|cc_street_name|cc_street_type|cc_suite_number|cc_city|        cc_county|cc_state|cc_zip|   cc_country|cc_gmt_offset|cc_tax_percentage|
+-----------------+-----------------+-----------------+---------------+-----------------+---------------+-------------+--------+------------+--------+--------+--------------+---------+--------------------+--------------------+-----------------+-----------+----------------+----------+---------------+----------------+--------------+--------------+---------------+-------+-----------------+--------+------+-------------+-------------+-----------------+
|                2| AAAAAAAACAAAAAAA|       1998-01-01|     2000-12-31|             null|        2450806| Mid Atlantic|  medium|           6|    2268| 8AM-8AM|Felipe Perkins|        2|A bit narrow form...|Largely blank yea...|    Julius Durham|          5|            anti|         1|          ought|             984|   Center Hill|           Way|       Suite 70| Midway|Williamson County|      TN| 31904|United States|        -5.00|             0.12|
|                3| AAAAAAAACAAAAAAA|       2001-01-01|           null|             null|        2450806| Mid Atlantic|  medium|           6|    4134| 8AM-4PM|Mark Hightower|        2|Wrong troops shal...|Largely blank yea...|    Julius Durham|          1|           ought|         2|           able|             984|   Center Hill|           Way|       Suite 70| Midway|Williamson County|      TN| 31904|United States|        -5.00|             0.01|
|                4| AAAAAAAAEAAAAAAA|       1998-01-01|     2000-01-01|             null|        2451063|North Midwest|  medium|           1|     649| 8AM-4PM|  Larry Mccray|        2|Dealers make most...|Rich groups catch...|  Matthew Clifton|          4|             ese|         3|            pri|             463|    Pine Ridge|            RD|        Suite U| Midway|Williamson County|      TN| 31904|United States|        -5.00|             0.05|
|                5| AAAAAAAAEAAAAAAA|       2000-01-02|     2001-12-31|             null|        2451063|North Midwest|   small|           3|     795| 8AM-8AM|  Larry Mccray|        2|Dealers make most...|Blue, due beds co...|     Gary Colburn|          4|             ese|         3|            pri|             463|    Pine Ridge|            RD|        Suite U| Midway|Williamson County|      TN| 31904|United States|        -5.00|             0.12|
|                6| AAAAAAAAEAAAAAAA|       2002-01-01|           null|             null|        2451063|North Midwest|  medium|           7|    3514| 8AM-4PM|  Larry Mccray|        5|Silly particles c...|Blue, due beds co...|     Gary Colburn|          5|            anti|         3|            pri|             463|    Pine Ridge|            RD|        Suite U| Midway|Williamson County|      TN| 31904|United States|        -5.00|             0.11|
+-----------------+-----------------+-----------------+---------------+-----------------+---------------+-------------+--------+------------+--------+--------+--------------+---------+--------------------+--------------------+-----------------+-----------+----------------+----------+---------------+----------------+--------------+--------------+---------------+-------+-----------------+--------+------+-------------+-------------+-----------------+

21/10/14 21:03:44 WARN CSVHeaderChecker: Number of column in CSV header is not equal to number of fields in the schema:
 Header length: 32, schema size: 31
CSV file: file:///Users/mohammadzainabbas/Masters/ULB/Data%20Warehouse/tpcds-kit/data_correct/call_center.csv

In [5]:
productDF.show()

+-----------+----------------+-------------+
|r_reason_sk|     r_reason_id|r_reason_desc|
+-----------+----------------+-------------+
|          2|AAAAAAAACAAAAAAA|   1998-01-01|
|          3|AAAAAAAACAAAAAAA|   2001-01-01|
|          4|AAAAAAAAEAAAAAAA|   1998-01-01|
|          5|AAAAAAAAEAAAAAAA|   2000-01-02|
|          6|AAAAAAAAEAAAAAAA|   2002-01-01|
+-----------+----------------+-------------+

21/10/09 12:57:38 WARN CSVHeaderChecker: Number of column in CSV header is not equal to number of fields in the schema:
 Header length: 32, schema size: 3
CSV file: file:///Users/mohammadzainabbas/Masters/ULB/Data%20Warehouse/tpcds-kit/data/call_center.csv

In [11]:
from pyspark.sql import SQLContext

In [ ]:
sqlContext = SQLContext(sc)

In [ ]:
# import pyspark
# from pyspark import SparkConf, SparkContext
# from pyspark.sql import HiveContext, SparkSession
# from pyspark.sql.types import *

# spark = SparkSession.builder.master("local[1]").appName("JAS").getOrCreate()
# customSchema = StructType(
#     [
#         StructField("r_reason_sk", IntegerType(), True),
#         StructField("r_reason_id", StringType(), True),
#         StructField("r_reason_desc", StringType(), True),
#     ]
# )

# productDF = spark.read.load(
#     "/Users/xiaokeai/tpcds-kit/data/call_center.csv",
#     format="csv",
#     header="true",
#     schema=customSchema,
# )

# productDF.printSchema()