In [1]:
sc

In [2]:
from os import getcwd, listdir
from os.path import join, isfile, abspath, pardir
from time import time
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from shutil import copyfile

In [3]:
conn_str = "jdbc:mysql://localhost/test_tpcds"

In [4]:
spark = SparkSession.builder.master("local[1]").appName("JAS").enableHiveSupport().getOrCreate()

In [5]:
tables = ["call_center", "catalog_page", "catalog_returns", "catalog_sales", "customer", "customer_address", "customer_demographics", "date_dim", "dbgen_version", "household_demographics", "income_band", "inventory", "item", "promotion", "reason", "ship_mode", "store", "store_returns", "store_sales", "time_dim", "warehouse", "web_page", "web_returns", "web_sales", "web_site"]

In [6]:
schema_dict = {}
df_dict = {}

for index, table in enumerate(tables):
    # print("{}: '{}' table\n".format( index + 1, table ))
    table_df = spark.read.format("jdbc").option("driver", "com.mysql.jdbc.Driver").option("url", conn_str).option("dbtable", table).option("user", "root").load()
    schema_dict[table] = table_df.schema
    df = spark.read.load( join(getcwd(), "data_correct", "{}.csv".format( table )),
        format="csv",
        delimiter="|",
        header="true",
        schema=table_df.schema)
    df_dict[table] = df
    df.createOrReplaceTempView("{}".format( table ))

Loading class `com.mysql.jdbc.Driver'. This is deprecated. The new driver class is `com.mysql.cj.jdbc.Driver'. The driver is automatically registered via the SPI and manual loading of the driver class is generally unnecessary.
21/10/22 16:32:53 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

In [7]:
project_dir = getcwd()
sql_queries_path = join(project_dir, "correct_sql_queries")
# sql_queries_path = join(getcwd(), "correct_sql_queries")

# project_dir = join(abspath(join(getcwd(), pardir)), "data-warehouse-project")
# sql_queries_path = join(project_dir, "sql_queries")

print("Total {} queries in '{}'".format(len(listdir(sql_queries_path)), sql_queries_path))

Total 100 queries in '/Users/mohammadzainabbas/Masters/ULB/Data Warehouse/tpcds-kit/correct_sql_queries'

In [ ]:
# for query_file in listdir(sql_queries_path):
#     file_path = join(sql_queries_path, query_file)
#     if not isfile(file_path): continue
#     with open(file_path, "rt") as file:
#         sql_code = file.read()
#         spark.sql(sql_code).show()

In [12]:
spark.sql("""
-- start query 1 in stream 0 using template query39.tpl
with inv as
(select w_warehouse_name,w_warehouse_sk,i_item_sk,d_moy
       ,stdev,mean, case mean when 0 then null else stdev/mean end cov
 from(select w_warehouse_name,w_warehouse_sk,i_item_sk,d_moy
            ,stddev_samp(inv_quantity_on_hand) stdev,avg(inv_quantity_on_hand) mean
      from inventory
          ,item
          ,warehouse
          ,date_dim
      where inv_item_sk = i_item_sk
        and inv_warehouse_sk = w_warehouse_sk
        and inv_date_sk = d_date_sk
        and d_year =2001
      group by w_warehouse_name,w_warehouse_sk,i_item_sk,d_moy) foo
 where case mean when 0 then 0 else stdev/mean end > 1)
select inv1.w_warehouse_sk,inv1.i_item_sk,inv1.d_moy,inv1.mean, inv1.cov
        ,inv2.w_warehouse_sk,inv2.i_item_sk,inv2.d_moy,inv2.mean, inv2.cov
from inv inv1,inv inv2
where inv1.i_item_sk = inv2.i_item_sk
  and inv1.w_warehouse_sk =  inv2.w_warehouse_sk
  and inv1.d_moy=1
  and inv2.d_moy=1+1
order by inv1.w_warehouse_sk,inv1.i_item_sk,inv1.d_moy,inv1.mean,inv1.cov
        ,inv2.d_moy,inv2.mean, inv2.cov
;
with inv as
(select w_warehouse_name,w_warehouse_sk,i_item_sk,d_moy
       ,stdev,mean, case mean when 0 then null else stdev/mean end cov
 from(select w_warehouse_name,w_warehouse_sk,i_item_sk,d_moy
            ,stddev_samp(inv_quantity_on_hand) stdev,avg(inv_quantity_on_hand) mean
      from inventory
          ,item
          ,warehouse
          ,date_dim
      where inv_item_sk = i_item_sk
        and inv_warehouse_sk = w_warehouse_sk
        and inv_date_sk = d_date_sk
        and d_year =2001
      group by w_warehouse_name,w_warehouse_sk,i_item_sk,d_moy) foo
 where case mean when 0 then 0 else stdev/mean end > 1)
select inv1.w_warehouse_sk,inv1.i_item_sk,inv1.d_moy,inv1.mean, inv1.cov
        ,inv2.w_warehouse_sk,inv2.i_item_sk,inv2.d_moy,inv2.mean, inv2.cov
from inv inv1,inv inv2
where inv1.i_item_sk = inv2.i_item_sk
  and inv1.w_warehouse_sk =  inv2.w_warehouse_sk
  and inv1.d_moy=1
  and inv2.d_moy=1+1
  and inv1.cov > 1.5
order by inv1.w_warehouse_sk,inv1.i_item_sk,inv1.d_moy,inv1.mean,inv1.cov
        ,inv2.d_moy,inv2.mean, inv2.cov
;

-- end query 1 in stream 0 using template query39.tpl
""")

ParseException:
extraneous input 'with' expecting {<EOF>, ';'}(line 28, pos 0)

== SQL ==

-- start query 1 in stream 0 using template query39.tpl
with inv as
(select w_warehouse_name,w_warehouse_sk,i_item_sk,d_moy
       ,stdev,mean, case mean when 0 then null else stdev/mean end cov
 from(select w_warehouse_name,w_warehouse_sk,i_item_sk,d_moy
            ,stddev_samp(inv_quantity_on_hand) stdev,avg(inv_quantity_on_hand) mean
      from inventory
          ,item
          ,warehouse
          ,date_dim
      where inv_item_sk = i_item_sk
        and inv_warehouse_sk = w_warehouse_sk
        and inv_date_sk = d_date_sk
        and d_year =2001
      group by w_warehouse_name,w_warehouse_sk,i_item_sk,d_moy) foo
 where case mean when 0 then 0 else stdev/mean end > 1)
select inv1.w_warehouse_sk,inv1.i_item_sk,inv1.d_moy,inv1.mean, inv1.cov
        ,inv2.w_warehouse_sk,inv2.i_item_sk,inv2.d_moy,inv2.mean, inv2.cov
from inv inv1,inv inv2
where inv1.i_item_sk = inv2.i_item_sk
  and inv1.w_warehouse_sk =  inv2.w_warehouse_sk
  and inv1.d_moy=1
  and inv2.d_moy=1+1
order by inv1.w_warehouse_sk,inv1.i_item_sk,inv1.d_moy,inv1.mean,inv1.cov
        ,inv2.d_moy,inv2.mean, inv2.cov
;
with inv as
^^^
(select w_warehouse_name,w_warehouse_sk,i_item_sk,d_moy
       ,stdev,mean, case mean when 0 then null else stdev/mean end cov
 from(select w_warehouse_name,w_warehouse_sk,i_item_sk,d_moy
            ,stddev_samp(inv_quantity_on_hand) stdev,avg(inv_quantity_on_hand) mean
      from inventory
          ,item
          ,warehouse
          ,date_dim
      where inv_item_sk = i_item_sk
        and inv_warehouse_sk = w_warehouse_sk
        and inv_date_sk = d_date_sk
        and d_year =2001
      group by w_warehouse_name,w_warehouse_sk,i_item_sk,d_moy) foo
 where case mean when 0 then 0 else stdev/mean end > 1)
select inv1.w_warehouse_sk,inv1.i_item_sk,inv1.d_moy,inv1.mean, inv1.cov
        ,inv2.w_warehouse_sk,inv2.i_item_sk,inv2.d_moy,inv2.mean, inv2.cov
from inv inv1,inv inv2
where inv1.i_item_sk = inv2.i_item_sk
  and inv1.w_warehouse_sk =  inv2.w_warehouse_sk
  and inv1.d_moy=1
  and inv2.d_moy=1+1
  and inv1.cov > 1.5
order by inv1.w_warehouse_sk,inv1.i_item_sk,inv1.d_moy,inv1.mean,inv1.cov
        ,inv2.d_moy,inv2.mean, inv2.cov
;

-- end query 1 in stream 0 using template query39.tpl

##### Make Separate files

In [ ]:
with open(join(sql_queries_path, "tpcds_queries.sql"), "rt") as file:
    lines = file.readlines()
    query = ""
    query_no = 1
    for index, line in enumerate(lines):
        query_line = line.strip()
        query += "\n{}".format( query_line )
        
        # Separate each query
        if query_line.find("-- end query", 0, len(query_line)) != -1:
            
            with open(join(sql_queries_path, "query_{}.sql".format(query_no)), "w") as query_file:
                query_file.write(query)
                query = ""
                print("Query - {} written.".format(query_no))
                query_no = query_no + 1

##### Do the benchmarking

In [8]:
take_avg_run, skip_run = 5, 1
total_runs = take_avg_run + skip_run

In [9]:
def get_execute_query_time(file, debug=False):
    with open(file, "rt") as f:
        try:
            start_time = time()
            spark.sql(f.read())
            return time() - start_time      
        except Exception as e:
            print("[[ error ]]: Failed to execute '{}' query :(".format( file ))
            if debug:
                print("[[ error ]]:\n{}\n".format( e ))
            return None

In [10]:
def run_queries(queries_list, queries_path, debug=False):
    timings_dict = {}
    for index, query in enumerate(queries_list):
        print("="*50)
        print("{} - Running benchmark for query: {}".format(index + 1, query))

        timings = list()
        query_file = join(queries_path, query)

        for run in list(range(0, total_runs)):
            executed_time = get_execute_query_time(query_file, debug)
            if executed_time is None: continue
            if run == 0:
                print("Skipping 1st run")
            else:
                timings.append(executed_time)
                print("{} run took {} secs".format(run, executed_time))
        timings_dict[query] = timings
    return timings_dict

In [11]:
timings_dict = {}
total_queries = sorted([x for x in listdir(sql_queries_path) if str(x).startswith("query_")])
timings_dict = run_queries(queries_list = total_queries, queries_path = sql_queries_path, debug=False)

==================================================
1 - Running benchmark for query: query_1.sql
Skipping 1st run
1 run took 0.011373043060302734 secs
2 run took 0.012604951858520508 secs
3 run took 0.01088094711303711 secs
4 run took 0.008837223052978516 secs
5 run took 0.008102893829345703 secs
==================================================
2 - Running benchmark for query: query_10.sql
Skipping 1st run
1 run took 0.03395700454711914 secs
2 run took 0.037383079528808594 secs
3 run took 0.04610610008239746 secs
4 run took 0.03131580352783203 secs
5 run took 0.027215242385864258 secs
==================================================
3 - Running benchmark for query: query_11.sql
Skipping 1st run
1 run took 0.020309925079345703 secs
2 run took 0.017882108688354492 secs
3 run took 0.017178773880004883 secs
4 run took 0.01779913902282715 secs
5 run took 0.015356779098510742 secs
==================================================
4 - Running benchmark for query: query_12.sql
Skipping 1st run
1 run took 0.010740041732788086 secs
2 run took 0.012111186981201172 secs
3 run took 0.010136842727661133 secs
4 run took 0.01304006576538086 secs
5 run took 0.011892080307006836 secs
==================================================
5 - Running benchmark for query: query_13.sql
Skipping 1st run
1 run took 0.010650157928466797 secs
2 run took 0.011489152908325195 secs
3 run took 0.010580062866210938 secs
4 run took 0.017153024673461914 secs
5 run took 0.01073598861694336 secs
==================================================
6 - Running benchmark for query: query_14.sql
Skipping 1st run
1 run took 0.009229183197021484 secs
2 run took 0.01296687126159668 secs
3 run took 0.010014057159423828 secs
4 run took 0.010061025619506836 secs
5 run took 0.008870124816894531 secs
==================================================
7 - Running benchmark for query: query_15.sql
Skipping 1st run
1 run took 0.009835958480834961 secs
2 run took 0.00952291488647461 secs
3 run took 0.009206056594848633 secs
4 run took 0.009573221206665039 secs
5 run took 0.011881828308105469 secs
==================================================
8 - Running benchmark for query: query_16.sql
Skipping 1st run
1 run took 0.012161970138549805 secs
2 run took 0.011795997619628906 secs
3 run took 0.01158285140991211 secs
4 run took 0.011672019958496094 secs
5 run took 0.011460065841674805 secs
==================================================
9 - Running benchmark for query: query_17.sql
Skipping 1st run
1 run took 0.010758161544799805 secs
2 run took 0.010930061340332031 secs
3 run took 0.010313987731933594 secs
4 run took 0.010169744491577148 secs
5 run took 0.010289907455444336 secs
==================================================
10 - Running benchmark for query: query_18.sql
Skipping 1st run
1 run took 0.007930994033813477 secs
2 run took 0.007527828216552734 secs
3 run took 0.00834512710571289 secs
4 run took 0.009644746780395508 secs
5 run took 0.007651805877685547 secs
==================================================
11 - Running benchmark for query: query_19.sql
Skipping 1st run
1 run took 0.028443098068237305 secs
2 run took 0.02670001983642578 secs
3 run took 0.027069091796875 secs
4 run took 0.025569915771484375 secs
5 run took 0.02576589584350586 secs
==================================================
12 - Running benchmark for query: query_2.sql
Skipping 1st run
1 run took 0.005277872085571289 secs
2 run took 0.004857063293457031 secs
3 run took 0.0046269893646240234 secs
4 run took 0.004631996154785156 secs
5 run took 0.004693031311035156 secs
==================================================
13 - Running benchmark for query: query_20.sql
Skipping 1st run
1 run took 0.041192054748535156 secs
2 run took 0.03755807876586914 secs
3 run took 0.036314964294433594 secs
4 run took 0.04607272148132324 secs
5 run took 0.036131858825683594 secs
==================================================
14 - Running benchmark for query: query_21.sql
Skipping 1st run
1 run took 0.013462066650390625 secs
2 run took 0.013421058654785156 secs
3 run took 0.013662099838256836 secs
4 run took 0.013065338134765625 secs
5 run took 0.012800931930541992 secs
==================================================
15 - Running benchmark for query: query_22.sql
Skipping 1st run
1 run took 0.018691062927246094 secs
2 run took 0.019427776336669922 secs
3 run took 0.03316974639892578 secs
4 run took 0.017314910888671875 secs
5 run took 0.01791214942932129 secs
==================================================
16 - Running benchmark for query: query_23.sql
Skipping 1st run
1 run took 0.00696110725402832 secs
2 run took 0.0065801143646240234 secs
3 run took 0.006777048110961914 secs
4 run took 0.006383180618286133 secs
5 run took 0.006891965866088867 secs
==================================================
17 - Running benchmark for query: query_24.sql
Skipping 1st run
1 run took 0.007063150405883789 secs
2 run took 0.007029056549072266 secs
3 run took 0.00878286361694336 secs
4 run took 0.0063800811767578125 secs
5 run took 0.006525754928588867 secs
==================================================
18 - Running benchmark for query: query_25.sql
Skipping 1st run
1 run took 0.01700592041015625 secs
2 run took 0.0110321044921875 secs
3 run took 0.009606122970581055 secs
4 run took 0.009252786636352539 secs
5 run took 0.0086669921875 secs
==================================================
19 - Running benchmark for query: query_26.sql
Skipping 1st run
1 run took 0.011490106582641602 secs
2 run took 0.01169276237487793 secs
3 run took 0.011615991592407227 secs
4 run took 0.011661052703857422 secs
5 run took 0.011260032653808594 secs
==================================================
20 - Running benchmark for query: query_27.sql
Skipping 1st run
1 run took 0.007786989212036133 secs
2 run took 0.007391929626464844 secs
3 run took 0.0074160099029541016 secs
4 run took 0.007857799530029297 secs
5 run took 0.007670879364013672 secs
==================================================
21 - Running benchmark for query: query_28.sql
Skipping 1st run
1 run took 0.011127233505249023 secs
2 run took 0.011228322982788086 secs
3 run took 0.011735677719116211 secs
4 run took 0.011219978332519531 secs
5 run took 0.01057291030883789 secs
==================================================
22 - Running benchmark for query: query_29.sql
Skipping 1st run
1 run took 0.016163110733032227 secs
2 run took 0.016351938247680664 secs
3 run took 0.01703500747680664 secs
4 run took 0.021059274673461914 secs
5 run took 0.016855955123901367 secs
==================================================
23 - Running benchmark for query: query_3.sql
Skipping 1st run
1 run took 0.016667842864990234 secs
2 run took 0.017447233200073242 secs
3 run took 0.017711877822875977 secs
4 run took 0.017876863479614258 secs
5 run took 0.021597862243652344 secs
==================================================
24 - Running benchmark for query: query_30.sql
Skipping 1st run
1 run took 0.016598224639892578 secs
2 run took 0.01119685173034668 secs
3 run took 0.010631799697875977 secs
4 run took 0.01130986213684082 secs
5 run took 0.011017799377441406 secs
==================================================
25 - Running benchmark for query: query_31.sql
Skipping 1st run
1 run took 0.004503011703491211 secs
2 run took 0.00463414192199707 secs
3 run took 0.0045146942138671875 secs
4 run took 0.0041120052337646484 secs
5 run took 0.004621982574462891 secs
==================================================
26 - Running benchmark for query: query_32.sql
Skipping 1st run
1 run took 0.005143165588378906 secs
2 run took 0.005374908447265625 secs
3 run took 0.004990100860595703 secs
4 run took 0.004951000213623047 secs
5 run took 0.005728006362915039 secs
==================================================
27 - Running benchmark for query: query_33.sql
Skipping 1st run
1 run took 0.010103940963745117 secs
2 run took 0.01226496696472168 secs
3 run took 0.010618925094604492 secs
4 run took 0.010051965713500977 secs
5 run took 0.010030746459960938 secs
==================================================
28 - Running benchmark for query: query_34.sql
Skipping 1st run
1 run took 0.014412164688110352 secs
2 run took 0.01403188705444336 secs
3 run took 0.013700723648071289 secs
4 run took 0.013821840286254883 secs
5 run took 0.013170003890991211 secs
==================================================
29 - Running benchmark for query: query_35.sql
Skipping 1st run
1 run took 0.015437841415405273 secs
2 run took 0.016963720321655273 secs
3 run took 0.017220020294189453 secs
4 run took 0.014371156692504883 secs
5 run took 0.014851093292236328 secs
==================================================
30 - Running benchmark for query: query_36.sql
Skipping 1st run
1 run took 0.01098775863647461 secs
2 run took 0.014811992645263672 secs
3 run took 0.010673761367797852 secs
4 run took 0.010043859481811523 secs
5 run took 0.009682893753051758 secs
==================================================
31 - Running benchmark for query: query_37.sql
Skipping 1st run
1 run took 0.006323814392089844 secs
2 run took 0.006935834884643555 secs
3 run took 0.006742000579833984 secs
4 run took 0.006863117218017578 secs
5 run took 0.0066068172454833984 secs
==================================================
32 - Running benchmark for query: query_38.sql
Skipping 1st run
1 run took 0.004829883575439453 secs
2 run took 0.004761934280395508 secs
3 run took 0.0058629512786865234 secs
4 run took 0.004676103591918945 secs
5 run took 0.004417896270751953 secs
==================================================
33 - Running benchmark for query: query_39.sql
Skipping 1st run
1 run took 0.060220956802368164 secs
2 run took 0.032816171646118164 secs
3 run took 0.03999590873718262 secs
4 run took 0.03144097328186035 secs
5 run took 0.031216859817504883 secs
==================================================
34 - Running benchmark for query: query_4.sql
Skipping 1st run
1 run took 0.010650873184204102 secs
2 run took 0.010518074035644531 secs
3 run took 0.010804176330566406 secs
4 run took 0.009580135345458984 secs
5 run took 0.009857177734375 secs
==================================================
35 - Running benchmark for query: query_40.sql
Skipping 1st run
1 run took 0.0052640438079833984 secs
2 run took 0.005047798156738281 secs
3 run took 0.005589008331298828 secs
4 run took 0.005300998687744141 secs
5 run took 0.004988908767700195 secs
==================================================
36 - Running benchmark for query: query_41.sql
Skipping 1st run
1 run took 0.009501934051513672 secs
2 run took 0.009248018264770508 secs
3 run took 0.009766101837158203 secs
4 run took 0.008744955062866211 secs
5 run took 0.00925588607788086 secs
==================================================
37 - Running benchmark for query: query_42.sql
Skipping 1st run
1 run took 0.009931087493896484 secs
2 run took 0.014043092727661133 secs
3 run took 0.010136127471923828 secs
4 run took 0.010432004928588867 secs
5 run took 0.011462926864624023 secs
==================================================
38 - Running benchmark for query: query_43.sql
Skipping 1st run
1 run took 0.008882999420166016 secs
2 run took 0.010914087295532227 secs
3 run took 0.00877690315246582 secs
4 run took 0.008111953735351562 secs
5 run took 0.008650779724121094 secs
==================================================
39 - Running benchmark for query: query_44.sql
Skipping 1st run
1 run took 0.0070400238037109375 secs
2 run took 0.006306171417236328 secs
3 run took 0.006334066390991211 secs
4 run took 0.005903005599975586 secs
5 run took 0.006015777587890625 secs
==================================================
40 - Running benchmark for query: query_45.sql
Skipping 1st run
1 run took 0.0026569366455078125 secs
2 run took 0.0023839473724365234 secs
3 run took 0.002875089645385742 secs
4 run took 0.0033316612243652344 secs
5 run took 0.003542184829711914 secs
==================================================
41 - Running benchmark for query: query_46.sql
Skipping 1st run
1 run took 0.011246919631958008 secs
2 run took 0.009057998657226562 secs
3 run took 0.008083820343017578 secs
4 run took 0.00847625732421875 secs
5 run took 0.01052999496459961 secs
==================================================
42 - Running benchmark for query: query_47.sql
Skipping 1st run
1 run took 0.01355886459350586 secs
2 run took 0.01059412956237793 secs
3 run took 0.015184164047241211 secs
4 run took 0.018918991088867188 secs
5 run took 0.052575111389160156 secs
==================================================
43 - Running benchmark for query: query_48.sql
Skipping 1st run
1 run took 0.02273106575012207 secs
2 run took 0.06497573852539062 secs
3 run took 0.031488895416259766 secs
4 run took 0.03045487403869629 secs
5 run took 0.019757986068725586 secs
==================================================
44 - Running benchmark for query: query_49.sql
Skipping 1st run
1 run took 0.011336803436279297 secs
2 run took 0.011246919631958008 secs
3 run took 0.011556863784790039 secs
4 run took 0.012121915817260742 secs
5 run took 0.012546062469482422 secs
==================================================
45 - Running benchmark for query: query_5.sql
[[ error ]]: Failed to execute '/Users/mohammadzainabbas/Masters/ULB/Data Warehouse/tpcds-kit/correct_sql_queries/query_5.sql' query :(
[[ error ]]: Failed to execute '/Users/mohammadzainabbas/Masters/ULB/Data Warehouse/tpcds-kit/correct_sql_queries/query_5.sql' query :(
[[ error ]]: Failed to execute '/Users/mohammadzainabbas/Masters/ULB/Data Warehouse/tpcds-kit/correct_sql_queries/query_5.sql' query :(
[[ error ]]: Failed to execute '/Users/mohammadzainabbas/Masters/ULB/Data Warehouse/tpcds-kit/correct_sql_queries/query_5.sql' query :(
[[ error ]]: Failed to execute '/Users/mohammadzainabbas/Masters/ULB/Data Warehouse/tpcds-kit/correct_sql_queries/query_5.sql' query :(
[[ error ]]: Failed to execute '/Users/mohammadzainabbas/Masters/ULB/Data Warehouse/tpcds-kit/correct_sql_queries/query_5.sql' query :(
==================================================
46 - Running benchmark for query: query_50.sql
Skipping 1st run
1 run took 0.009739875793457031 secs
2 run took 0.009313106536865234 secs
3 run took 0.009372234344482422 secs
4 run took 0.012248039245605469 secs
5 run took 0.00934910774230957 secs
==================================================
47 - Running benchmark for query: query_51.sql
Skipping 1st run
1 run took 0.010821819305419922 secs
2 run took 0.009856939315795898 secs
3 run took 0.009862899780273438 secs
4 run took 0.009835004806518555 secs
5 run took 0.009832143783569336 secs
==================================================
48 - Running benchmark for query: query_52.sql
Skipping 1st run
1 run took 0.0032401084899902344 secs
2 run took 0.0029990673065185547 secs
3 run took 0.002850770950317383 secs
4 run took 0.0030579566955566406 secs
5 run took 0.0029931068420410156 secs
==================================================
49 - Running benchmark for query: query_53.sql
Skipping 1st run
1 run took 0.007818937301635742 secs
2 run took 0.010078907012939453 secs
3 run took 0.008355140686035156 secs
4 run took 0.007745027542114258 secs
5 run took 0.013180017471313477 secs
==================================================
50 - Running benchmark for query: query_54.sql
Skipping 1st run
1 run took 0.0060062408447265625 secs
2 run took 0.005797147750854492 secs
3 run took 0.005998849868774414 secs
4 run took 0.005800962448120117 secs
5 run took 0.005677938461303711 secs
==================================================
51 - Running benchmark for query: query_55.sql
Skipping 1st run
1 run took 0.0054318904876708984 secs
2 run took 0.004892110824584961 secs
3 run took 0.004807949066162109 secs
4 run took 0.004973888397216797 secs
5 run took 0.005342006683349609 secs
==================================================
52 - Running benchmark for query: query_56.sql
Skipping 1st run
1 run took 0.01001119613647461 secs
2 run took 0.006646633148193359 secs
3 run took 0.0064160823822021484 secs
4 run took 0.006493330001831055 secs
5 run took 0.0062787532806396484 secs
==================================================
53 - Running benchmark for query: query_57.sql
Skipping 1st run
1 run took 0.004125833511352539 secs
2 run took 0.004211902618408203 secs
3 run took 0.00431370735168457 secs
4 run took 0.004536151885986328 secs
5 run took 0.004364013671875 secs
==================================================
54 - Running benchmark for query: query_58.sql
Skipping 1st run
1 run took 0.007519960403442383 secs
2 run took 0.008605003356933594 secs
3 run took 0.007767915725708008 secs
4 run took 0.007606029510498047 secs
5 run took 0.00704503059387207 secs
==================================================
55 - Running benchmark for query: query_59.sql
Skipping 1st run
1 run took 0.0027463436126708984 secs
2 run took 0.002593994140625 secs
3 run took 0.002683877944946289 secs
4 run took 0.002257108688354492 secs
5 run took 0.0025708675384521484 secs
==================================================
56 - Running benchmark for query: query_6.sql
Skipping 1st run
1 run took 0.022767066955566406 secs
2 run took 0.02251291275024414 secs
3 run took 0.02054882049560547 secs
4 run took 0.020377635955810547 secs
5 run took 0.020791053771972656 secs
==================================================
57 - Running benchmark for query: query_60.sql
Skipping 1st run
1 run took 0.005767822265625 secs
2 run took 0.005259037017822266 secs
3 run took 0.00592803955078125 secs
4 run took 0.00686192512512207 secs
5 run took 0.005417823791503906 secs
==================================================
58 - Running benchmark for query: query_61.sql
Skipping 1st run
1 run took 0.0025000572204589844 secs
2 run took 0.0027501583099365234 secs
3 run took 0.002981901168823242 secs
4 run took 0.002938985824584961 secs
5 run took 0.0029289722442626953 secs
==================================================
59 - Running benchmark for query: query_62.sql
Skipping 1st run
1 run took 0.00544285774230957 secs
2 run took 0.0057489871978759766 secs
3 run took 0.00507807731628418 secs
4 run took 0.004588127136230469 secs
5 run took 0.00473785400390625 secs
==================================================
60 - Running benchmark for query: query_63.sql
Skipping 1st run
1 run took 0.00867915153503418 secs
2 run took 0.008432149887084961 secs
3 run took 0.008563995361328125 secs
4 run took 0.008566856384277344 secs
5 run took 0.008600711822509766 secs
==================================================
61 - Running benchmark for query: query_64.sql
Skipping 1st run
1 run took 0.005190849304199219 secs
2 run took 0.0050089359283447266 secs
3 run took 0.004729747772216797 secs
4 run took 0.004845857620239258 secs
5 run took 0.004753828048706055 secs
==================================================
62 - Running benchmark for query: query_65.sql
Skipping 1st run
1 run took 0.004681825637817383 secs
2 run took 0.010341882705688477 secs
3 run took 0.0049228668212890625 secs
4 run took 0.004850864410400391 secs
5 run took 0.004815101623535156 secs
==================================================
63 - Running benchmark for query: query_66.sql
Skipping 1st run
1 run took 0.014947175979614258 secs
2 run took 0.015285015106201172 secs
3 run took 0.01471400260925293 secs
4 run took 0.018197059631347656 secs
5 run took 0.015011072158813477 secs
==================================================
64 - Running benchmark for query: query_67.sql
Skipping 1st run
1 run took 0.0037119388580322266 secs
2 run took 0.003531217575073242 secs
3 run took 0.0032989978790283203 secs
4 run took 0.003239870071411133 secs
5 run took 0.0035247802734375 secs
==================================================
65 - Running benchmark for query: query_68.sql
[[ error ]]: Failed to execute '/Users/mohammadzainabbas/Masters/ULB/Data Warehouse/tpcds-kit/correct_sql_queries/query_68.sql' query :(

In [ ]:
i = int(0)
for key, value in timings_dict.items():
    if len(value):
        i = i + 1
        print("="*20)
        print("\n{} - {}: {} secs\n".format(i, key, sum(value)/len(value)))
        # print("Avg.: {}".format( sum(value)/len(value) ))

###### Failed Queries

In [ ]:
failed_queries = [x for x in list(timings_dict.keys()) if not len(timings_dict[x])]
failed_queries

In [ ]:
modified_queries_path = join(project_dir, "modified_queries")

In [ ]:
total_queries = 4
for index, query in enumerate(failed_queries):
    if total_queries == index:
        break
    file_name = query.split('.')[0]
    copyfile(join(sql_queries_path, query), join(modified_queries_path, "{}_original.sql".format(file_name)))
    copyfile(join(sql_queries_path, query), join(modified_queries_path, "{}_modified.sql".format(file_name)))

###### Run the modified queries

In [ ]:
modified_queries = [x for x in listdir(modified_queries_path) if x.endswith("_modified.sql")]
for index, query in enumerate(modified_queries):
    print("{} - {}".format(index + 1, query))

In [ ]:
timings_dict = run_queries(queries_list = modified_queries, queries_path = modified_queries_path, debug=True)